version: "3.8"

services:
  # MongoDB Service
  mongodb:
    image: mongo:7.0
    container_name: tech-challenge-mongodb
    restart: unless-stopped
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_INITDB_ROOT_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_INITDB_ROOT_PASSWORD}
      MONGO_INITDB_DATABASE: ${MONGO_INITDB_DATABASE}
    volumes:
      - mongodb_data:/data/db
      #- ./app/init_scripts/mongo-init.js:/docker-entrypoint-initdb.d/mongo-init.js:ro
    networks:
      - app-network

  mongo-init:
    image: mongo:7.0
    container_name: tech-challenge-mongo-init
    depends_on:
      - mongodb
    volumes:
      - ./app/init_scripts:/scripts
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_INITDB_ROOT_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_INITDB_ROOT_PASSWORD}
      MONGO_INITDB_DATABASE: ${MONGO_INITDB_DATABASE}
      MONGO_INSTANCE_NAME: ${MONGO_INSTANCE_NAME}
    command:
      [
        "sh",
        "-c",
        "until mongosh \"mongodb://${MONGO_INITDB_ROOT_USERNAME}:${MONGO_INITDB_ROOT_PASSWORD}@${MONGO_INSTANCE_NAME}:27017/${MONGO_INITDB_DATABASE}?authSource=admin\" --eval 'db.adminCommand(\"ping\")' > /dev/null 2>&1; do echo \"Waiting for MongoDB to be ready...\"; sleep 2; done; exec mongosh \"mongodb://${MONGO_INITDB_ROOT_USERNAME}:${MONGO_INITDB_ROOT_PASSWORD}@${MONGO_INSTANCE_NAME}:27017/${MONGO_INITDB_DATABASE}?authSource=admin\" /scripts/mongo-init-v2.js",
      ]
    restart: "no" # run once and stop
    networks:
      - app-network

  # NestJS Application Service
  app:
    build:
      context: ./app
      dockerfile: Dockerfile
      target: production
      tags: ["tech-challenge-app:prod"]
    container_name: tech-challenge-app
    restart: unless-stopped
    ports:
      - "3000:3000"
    environment:
      NODE_ENV: production
      PORT: 3000
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_INITDB_ROOT_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_INITDB_ROOT_PASSWORD}
      MONGO_INITDB_DATABASE: ${MONGO_INITDB_DATABASE}
      MONGO_INSTANCE_NAME: ${MONGO_INSTANCE_NAME}
    depends_on:
      - mongodb
    networks:
      - app-network
    healthcheck:
      test:
        [
          "CMD",
          "wget",
          "--no-verbose",
          "--tries=1",
          "--spider",
          "http://localhost:3000/",
        ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s

  # NestJS Application Service
  app-test:
    build:
      context: ./app
      dockerfile: Dockerfile
      target: test
      tags: ["tech-challenge-app:test"]
    container_name: tech-challenge-app-test
    depends_on:
      - app
    restart: no
    ports:
      - "3001:3000"
    environment:
      NODE_ENV: production
      PORT: 3000
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_INITDB_ROOT_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_INITDB_ROOT_PASSWORD}
      MONGO_INITDB_DATABASE: ${MONGO_INITDB_DATABASE}
      MONGO_INSTANCE_NAME: ${MONGO_INSTANCE_NAME}

    volumes:
      - ./app/test:/app/test:ro
    networks:
      - app-network
    healthcheck:
      test:
        [
          "CMD",
          "wget",
          "--no-verbose",
          "--tries=1",
          "--spider",
          "http://localhost:3000/",
        ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s

volumes:
  mongodb_data:
    driver: local

networks:
  app-network:
    driver: bridge
