{{- if .Values.prometheus.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "monitoring.fullname" . }}-prometheus
  namespace: {{ .Values.namespace }}
  labels:
    {{- include "monitoring.prometheus.labels" . | nindent 4 }}
spec:
  type: ClusterIP
  ports:
  - port: 9090
    targetPort: 9090
    protocol: TCP
    name: web
  selector:
    {{- include "monitoring.prometheus.selectorLabels" . | nindent 4 }}
{{- end }}


